@charset "UTF-8";
/* CSS Document */
h1 {
	font-family: Rubik;
	font-weight: 900 !important;
	font-size: 40px;
	padding-bottom: 30px;
	padding-top:30px;
	color: #5ed08c;
}

h2 {
	font-family: Museo Sans;
	font-weight: 500 !important;
	font-size: 20px;
	color: #4f4f4f;
	padding-top: 0px;
}

.btn-link {
	color:#4BA870;
	font-weight: 700;
}

.hover {
	color:#000000;
}

.text-center {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 25%;
}

img {
	max-width: 500px;
	padding-left: 40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
}


.loader {
	height: 1500px;
	weight: 1500px;
	position: fixed;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}

.loader img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.jumbotron .jumbotron-fluid {
	background-color:#ffffff;
}

p {
	text-align: left;
	font-family: Museo Sans;
	color: #4f4f4f;
}

hr {
	border-width:3px;
}

.caption {
	font-weight:300;
}

.caption {
	text-align: center;
}
.img-main {
	padding:0px!important;
}